[submodule "code-external/freetype"]
	path = code-external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "code-external/libpng-code"]
	path = code-external/libpng-code
	url = https://github.com/pnggroup/libpng.git
[submodule "code-external/zlib"]
	path = code-external/zlib
	url = https://github.com/madler/zlib
[submodule "code-external/DirectX-Headers"]
	path = code-external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
